TWITTER_CONSUMER_KEY="your Twitter consumer key"
TWITTER_CONSUMER_SECRET="your Twitter consumer secret"
TWITTER_ACCESS_TOKEN="your Twitter access token key"
TWITTER_ACCESS_TOKEN_SECRET="your Twitter access token secret"
