
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Introduction</h2>

            <p>
                MosaicMe is a Microservice application that retrieves images from selected Twitter feeds, stores them on an object store, and then it process them to build a mosaic based on a selected set of pictures.
            </p>

            <p>
                Mosaicme's goal is to provide developers with working example in how to build a distributed microservice application using best practices. The application includes the following:
            </p>

            <ul>
                <li>Use of Linux containers to host each service.</li>
                <li>Use of Object stores.</li>
                <li>Restful APIs as communication Channel (REST, S3, SWIFT, HDFS)</li>
                <li>Use of External Services like Twitter and Twilio)</li>
                <li>Automated deployment model</li>
                <li>Use of a Logging Router</li>
                <li>Use of Queuing, Caching and Configuration Services</li>
                <li>Use of Haddop to calculate statistics</li>
                <li>Use of Puppet/Chef to deploy the application</li>
            </ul>


            <h2>Architecture</h2>

            <p>
                Mosaicme is composed of multiple tiers. The following design shows the high level application architecture: The following diagram shows Mosaicme high level architecture:
            </p>

            <img class="img-responsive" src="https://raw.githubusercontent.com/emccode/mosaicme/master/documentation/images/mosaicme-high-level-architecture.PNG?token=ADnH_hl1adiN819JiL8cTLY3hX2bNx57ks5VS9HBwA%3D%3D">
        </div>
    </div>
</div>