{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="mosaicmeApp">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" media="screen">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="screen">
        <link rel="stylesheet" type="text/css" href="{% static 'css/tiksluscarousel.css' %}" media="screen">
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400' rel='stylesheet' type='text/css'>

        {% bootstrap_javascript jquery=True %}
        <script src="{% static 'js/angular.min.js' %}"></script>
        <script src="{% static 'js/angular-route.min.js' %}"></script>
        <script src="{% static 'js/ui-bootstrap-tpls-0.12.1.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/tiksluscarousel.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <title></title>
    </head>
    <body>

        <div ng-view></div>

    </body>
</html>
